In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [3]:
#df = pd.read_csv("kc_house_data.csv")
df = pd.read_csv("kc_house_10times.csv")
#X = df[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_above', 'sqft_basement', 'yr_built']]
X = df[['bedrooms', 'bathrooms', 'sqft_living', 'floors', 'sqft_above', 'sqft_basement', 'yr_old']]
#X = df[['bedrooms', 'bathrooms', 'sqft_living', 'floors', 'sqft_above', 'sqft_basement']]
y = df['price']
#x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
test = pd.read_csv("thai-data-clean2.csv")
X_test = test[['bedrooms', 'bathrooms', 'sqft_living', 'floors', 'sqft_above', 'sqft_basement', 'yr_old']]
y_test = test['price']

In [4]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [5]:
X.head(3)

   bedrooms  bathrooms  sqft_living  floors  sqft_above  sqft_basement  yr_old
0         6       8.00        12050     2.5        8570           3480     111
1         5       4.50        10040     2.0        7680           2360      81
2         6       7.75         9890     2.0        8860           1030      20

In [7]:
y_prediction =  regr.predict(X_test)
y_prediction

print(regr.intercept_)
print(regr.coef_)

-297226.3308139974
[-7.00879098e+04  8.63890539e+04 -9.14037583e+15  6.07421741e+04
  9.14037583e+15  9.14037583e+15  3.56109590e+03]

In [9]:
score = r2_score(y_test,y_prediction)
print('r2 socre is',score)
print('mean_sqrd_error is ==',mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of is ==',np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is -7.665897683158316e+27
mean_sqrd_error is == 1.3383089537263237e+39
root_mean_squared error of is == 3.6582905211673985e+19